
@font-face {
  font-family: 'EthiopicWashRaBold';
  src: url('EthiopicWashRaBold.eot?#iefix') format('embedded-opentype'),  url('EthiopicWashRaBold.woff') format('woff'), url('EthiopicWashRaBold.ttf')  format('truetype'), url('EthiopicWashRaBold.svg#EthiopicWashRaBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
