
@font-face {
  font-family: 'EthiopicZelan';
  src: url('EthiopicZelan.eot?#iefix') format('embedded-opentype'),  url('EthiopicZelan.woff') format('woff'), url('EthiopicZelan.ttf')  format('truetype'), url('EthiopicZelan.svg#EthiopicZelan') format('svg');
  font-weight: normal;
  font-style: normal;
}
