
@font-face {
  font-family: 'EthiopicTint';
  src: url('EthiopicTint.eot?#iefix') format('embedded-opentype'),  url('EthiopicTint.woff') format('woff'), url('EthiopicTint.ttf')  format('truetype'), url('EthiopicTint.svg#EthiopicTint') format('svg');
  font-weight: normal;
  font-style: normal;
}
