
@font-face {
  font-family: 'EthiopicYebse';
  src: url('EthiopicYebse.eot?#iefix') format('embedded-opentype'),  url('EthiopicYebse.woff') format('woff'), url('EthiopicYebse.ttf')  format('truetype'), url('EthiopicYebse.svg#EthiopicYebse') format('svg');
  font-weight: normal;
  font-style: normal;
}
