
@font-face {
  font-family: 'EthiopiaJiret';
  src: url('EthiopiaJiret.eot?#iefix') format('embedded-opentype'),  url('EthiopiaJiret.woff') format('woff'), url('EthiopiaJiret.ttf')  format('truetype'), url('EthiopiaJiret.svg#EthiopiaJiret') format('svg');
  font-weight: normal;
  font-style: normal;
}
