
@font-face {
  font-family: 'EthiopicDireDawa';
  src: url('EthiopicDireDawa.eot?#iefix') format('embedded-opentype'),  url('EthiopicDireDawa.woff') format('woff'), url('EthiopicDireDawa.ttf')  format('truetype'), url('EthiopicDireDawa.svg#EthiopicDireDawa') format('svg');
  font-weight: normal;
  font-style: normal;
}
