
@font-face {
  font-family: 'EthiopicWookianos';
  src: url('EthiopicWookianos.eot?#iefix') format('embedded-opentype'),  url('EthiopicWookianos.woff') format('woff'), url('EthiopicWookianos.ttf')  format('truetype'), url('EthiopicWookianos.svg#EthiopicWookianos') format('svg');
  font-weight: normal;
  font-style: normal;
}
