
@font-face {
  font-family: 'EthiopicWashRaSemiBold';
  src: url('EthiopicWashRaSemiBold.eot?#iefix') format('embedded-opentype'),  url('EthiopicWashRaSemiBold.woff') format('woff'), url('EthiopicWashRaSemiBold.ttf')  format('truetype'), url('EthiopicWashRaSemiBold.svg#EthiopicWashRaSemiBold') format('svg');
  font-weight: normal;
  font-style: normal;
}
