
@font-face {
  font-family: 'EthiopicYigezuBisratGoffer';
  src: url('EthiopicYigezuBisratGoffer.eot?#iefix') format('embedded-opentype'),  url('EthiopicYigezuBisratGoffer.woff') format('woff'), url('EthiopicYigezuBisratGoffer.ttf')  format('truetype'), url('EthiopicYigezuBisratGoffer.svg#EthiopicYigezuBisratGoffer') format('svg');
  font-weight: normal;
  font-style: normal;
}
