
@font-face {
  font-family: 'EthiopicFantuwua';
  src: url('EthiopicFantuwua.eot?#iefix') format('embedded-opentype'),  url('EthiopicFantuwua.woff') format('woff'), url('EthiopicFantuwua.ttf')  format('truetype'), url('EthiopicFantuwua.svg#EthiopicFantuwua') format('svg');
  font-weight: normal;
  font-style: normal;
}
