
@font-face {
  font-family: 'A0AddisAbebaUnicode';
  src: url('A0AddisAbebaUnicode.eot?#iefix') format('embedded-opentype'),  url('A0AddisAbebaUnicode.woff') format('woff'), url('A0AddisAbebaUnicode.ttf')  format('truetype'), url('A0AddisAbebaUnicode.svg#A0AddisAbebaUnicode') format('svg');
  font-weight: normal;
  font-style: normal;
}
